<div class="container">
  <div class="row">
    <div class="col-8 mt-5 mb-5 text-center border border-success mx-auto">
      <%= form_with model: @custmer, local:true do |f| %>
      <div class="form_group">
        <label for="name" class="name_form col-4">名前</label></br>
        <%= f.text_field :name %>
      </div>
      <div class="form_group">
        <label for="introduction" class="introduction_form col-4">自己紹介</label></br>
        <%= f.text_area :introduction %>
      </div>
      <div class="form_group">
        <label for="image" class="image_form col-4">画像</label></br>
        <= f.attachment_field :image %>
      </div>
      <div class="row">
        <%= f.submit "変更する", class: "btn btn-success mb-3 mx-auto" %>
      </div>
      <% end %>
    </div>
  </div>
</div>