<div class="container">
  <div class="row">
    <div class="task_container col-12 mt-5 mb-5">
      <% @tasks.each do |task| %>
        <div class="task_box col-8 border border-info mx-3 mx-auto">
            <h4 class="mt-3 ml-3"><%= task.task_name %></h4>
            <p class="mt-3 ml-3"><%= task.task_body %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>