<div class="container">
  <div class="row">
    <div class="task-post col-sm-8 mt-5 mx-auto">
      <div class="border border-secondary">
        <div class="container">
          <div class="col-sm-5 mt-3">
            <strong><%= @task.task_name %></strong>
          </div>
          <div class="col-sm-10 mt-3">
            : <%= @task.task_body %>
          </div>
        </div>
        <!--ここからコメント表示-->
      </div>
    </div>
  </div>
</div>