<div class="container">
  <div class="row">
    <div class="task_container col-12 mt-5 mb-5 mx-auto">
      <%= @tasks.each do |task| %>
        <div class="task_box border border-info mx-3">
            <h4><%= task.task_name %></h4>
            <p><%= task.task.body %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>